In [1]:
# make a sample dataset

import pandas as pd
import numpy as np

# Sample e-commerce transaction data
data = {
    "TransactionID": [101, 102, 103, 104, 105],
    "CustomerName": ["Jane Rust", "june young", "June Doe", None, "JANE RUST"],
    "Product": ["Laptop", "Phone", "Laptop", "Tablet", "Phone"],
    "Price": [1200, 800, 1200, -300, 850],  # Negative value indicates an issue
    "Quantity": [1, 2, None, 1,1],  # Missing value
    "TransactionDate": ["2024-12-01", "2024/12/01", "01-12-2024", None, "2024-12-01"],
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   TransactionID CustomerName Product  Price  Quantity TransactionDate
0            101    Jane Rust  Laptop   1200       1.0      2024-12-01
1            102   june young   Phone    800       2.0      2024/12/01
2            103     June Doe  Laptop   1200       NaN      01-12-2024
3            104         None  Tablet   -300       1.0            None
4            105    JANE RUST   Phone    850       1.0      2024-12-01

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    5 non-null      int64
 1   CustomerName     4 non-null      object
 2   Product          5 non-null      object
 3   Price            5 non-null      int64
 4   Quantity         4 non-null      float64
 5   TransactionDate  4 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 372.0+ bytes

1. Check for missing values.

In [3]:

missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 TransactionID      0
CustomerName       1
Product            0
Price              0
Quantity           1
TransactionDate    1
dtype: int64

2. Identify unexpected datatypes.

In [4]:
print("Data Types:\n", df.dtypes)

Data Types:
 TransactionID        int64
CustomerName        object
Product             object
Price                int64
Quantity           float64
TransactionDate     object
dtype: object

3. Convert dates to a consistent format.

In [5]:
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"], errors="coerce")
print(df["TransactionDate"])

0   2024-12-01
1          NaT
2          NaT
3          NaT
4   2024-12-01
Name: TransactionDate, dtype: datetime64[ns]

4. Find outliers in numeric columns. Note that this isn't a 'standard' check; they just know that price shouldn't be below zero.

In [6]:
outliers = df[df["Price"] < 0]
print("Outliers:\n", outliers)

Outliers:
    TransactionID CustomerName Product  Price  Quantity TransactionDate
3            104         None  Tablet   -300       1.0             NaT

5. Detect duplicate records.

In [8]:
duplicates = df.duplicated(subset=["CustomerName", "Product"], keep=False)
print("Duplicate Records:\n", df[duplicates])

Duplicate Records:
 Empty DataFrame
Columns: [TransactionID, CustomerName, Product, Price, Quantity, TransactionDate]
Index: []

6. Standardize capitalization in text columns.

In [9]:
df["CustomerName"] = df["CustomerName"].str.strip().str.title()
print(df["CustomerName"])

0     Jane Rust
1    June Young
2      June Doe
3          None
4     Jane Rust
Name: CustomerName, dtype: object

7. Validate data ranges (must know a valid range for the column to be validated).

In [10]:
invalid_prices = df[~df["Price"].between(0, 5000)]
print("Invalid Prices:\n", invalid_prices)

Invalid Prices:
    TransactionID CustomerName Product  Price  Quantity TransactionDate
3            104         None  Tablet   -300       1.0             NaT

8. Count unique values in column.

In [11]:
unique_products = df["Product"].value_counts()
print("Unique Products:\n", unique_products)

Unique Products:
 Product
Laptop    2
Phone     2
Tablet    1
Name: count, dtype: int64

9. Check for inconsistent formatting across columns.

In [12]:
inconsistent_names = df["CustomerName"].str.contains(r"[A-Z]{2,}", na=False)
print("Inconsistent Formatting in Names:\n", df[inconsistent_names])

Inconsistent Formatting in Names:
 Empty DataFrame
Columns: [TransactionID, CustomerName, Product, Price, Quantity, TransactionDate]
Index: []

In [ ]:
10. Identify rows that meet multiple criteria.